#cipher-form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 2rem 0;
}
#output {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
}
#ciphertext-output {
  color: black;
}
.field-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  #cipher-form {
    max-width: 100%;
  }
}
