html {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #f2f4f6;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;
}
h1 {
  color: white;
}
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

#cipher-form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 2rem 0;
}
#output {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#ciphertext-output {
  color: black;
}
.title {
  align-self: center;
  text-align: center;
}
.field-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1rem;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
.output-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}
@media (max-width: 600px) {
  #cipher-form {
    max-width: 100%;
  }
}

.content-container {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
  flex: 1;
}

/* SELECT BUTTON */
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 2px;
  select {
    width: 100%;
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
  }
}

/* BUTTON */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0 1rem;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:hover {
  background-color: rgba(51, 51, 51, 0.1);
}
